* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: black;
}

header {
    display: flex;
    position: fixed;
    background-color:#ffffff;
    width: 100%;
    height: 77px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    background-color: #ffffff;
    width: 25%;
    height: 100%;
    border-style: solid;
    border-width: 0px 3px 0px 0px;
    justify-content: center;
    align-items: center;
}

.logo-img {
    text-align: center;
    width: 155px;
}

#search {
    background-color: #ffffff;
    width: 40%;
    height: 100%;
    border: 0;
    font-size: 1.125rem;
    padding-left: 50px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1.125rem;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: 0;
}


::placeholder {
    color: #000;
}

.material-symbols-outlined {
    display: flex !important;
    font-size: 30px !important;
    align-items: center;
    justify-content: flex-start;
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;
    width: 11%;
    height: 100%;
}

.opciones, .cuenta, .ubicacion, .compras {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 6%;
    height: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: black;
    fill: #000;
    transition-delay: 0s;
    transition: all .5s ease;
}

.opciones:hover, .cuenta:hover, .ubicacion:hover {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 6%;
    height: 100%;
    border-style: solid;
    border-width: 0px 0px 0px 3px;
    border-color: black;
    color: #ffffff;
    fill: rgb(255, 255, 255);
}

#imagen-principal{
    background-image: url("https://www.esenzzia.com/modules/ps_imageslider/images/f84a8567c559b194fc58867a27b495da22b8a449_Post%20de%20Instagram%20rebajas%20ofertas%20descuentos%20femenino%20rosa%20(1947%C2%A0%C3%97%C2%A0876%C2%A0px)%20(1).png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.rebajas {
    position: fixed;
    z-index: 1;
    width: 350px;
    height: 70px;
    cursor: pointer;
    line-height: 24px;
    padding: 8px 16px 8px 16px ;
    text-align: center;
    background-color: black;
    border-style: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0px 0px 40px 30px;
    transition-delay: 0s;
    transition: all .5s ease;
}

.rebajas:hover {
    position: fixed;
    z-index: 1;
    width: 350px;
    height: 70px;
    cursor: pointer;
    line-height: 24px;
    padding: 8px 16px 8px 16px ;
    text-align: center;
    background-color: #ffffff;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    font-family: 'Roboto';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
}

.ayuda {
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 125px;
    height: 3.125rem;
    bottom: 90px;
    right: 50px;
    font-size: 18px;
    background-color: black;
    border-radius: 25px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    transition-delay: 0s;
    transition: all .5s ease;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.ayuda p {
    font-family: 'Roboto';
    font-weight: 700;
    text-transform: capitalize;
    font-size: 1.1rem;

}

.ayuda:hover {
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 125px;
    height: 3.125rem;
    bottom: 90px;
    right: 50px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border-style: solid;
    border-color: #000000;
    color: #000000;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.material-symbols-outlined:nth-child(1) {
    font-size: 25px !important;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.abajo-imagen {
    position: relative;
    z-index: 2;
    background-color:#ffffff;
    width: 100%;
    height: 50vh;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: black;
}

.dato-perfumes {
    margin-top: 0.5vh;
    margin-left: 8vh;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.36;
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
    color: #000;
    text-align: left;
}